<!-- footer.html-->

<footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Help
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright" id="copyright">
                <i class="fa fa-heart heart"></i> DeepNLP &copy;
            <script>
                document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>, Designed and Coded by
            <a href="#" target="_blank">RodriguesFAS</a>.
        </div>
    </div>
</footer>