<!DOCTYPE html>
<html lang="en" class="perfect-scrollbar-off">
<title>
  DeepNLP API RestFul
</title>

<!-- CSS Files -->
<link href="{{ url_for('static', filename='assets/css/blk-design-system.min.css') }}" rel="stylesheet">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="{{ url_for('static', filename='assets/css/demo.css') }}" rel="stylesheet">

</head>

<body class="index-page" cz-shortcut-listen="true">

  <!-- End Navbar -->
  <div class="wrapper">
    <div class="page-header header-filter">
      <div class="squares square1"></div>
      <div class="squares square2"></div>
      <div class="squares square3"></div>
      <div class="squares square4"></div>
      <div class="squares square5"></div>
      <div class="squares square6"></div>
      <div class="squares square7"></div>
      <div class="container">
        <div class="content-center brand">
          <h1 class="h1-seo">DeepNLP API RESTFul</h1>
          <h3>OnLine!</h3>
        </div>
      </div>
    </div>

</html>